.finalStageContainer {
  width: 100%;
  background-color: rgba(23, 23, 24, 1);
  border: 4px solid rgba(37, 41, 43, 1);
  border-radius: 10px;
  padding: 20px 20px 0 20px;
}

.finalStageBannerImage {
  width: 100%;
  border-radius: 14px;
  padding-bottom: 10px;
}

.festivalDesc {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.festivalDate {
  background-color: rgba(44, 50, 52, 1);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.festivalDate h5 {
  padding: 15px;
  text-align: center;
}

.sideLight {
  height: 25px;
  width: 8px;
  background-color: rgba(239, 90, 33, 1);
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px 4px rgba(239, 90, 33, 0.3);
}

.serviceCardWrapper {
  display: flex;
  flex-direction: column;
}

.aprilTournamentPriceContainer {
  background-color: rgba(37, 41, 43, 1);
  margin: 25px 0;
  border-radius: 10px;
}

.aprilTournamentPriceHeader {
  background-color: rgba(44, 50, 52, 1);
  border-radius: 10px;
}

.aprilTournamentPriceHeader h4 {
  padding: 20px;
  text-align: center;
}

.topLight {
  width: 35%;
  height: 4px;
  background-color: rgba(239, 90, 33, 1);
  margin: auto;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px 4px rgba(239, 90, 33, 0.3);
}

.aprilTournamentThreeCard {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
}

.aprilTournamentTwoCard {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}

.aprilTournamentRules {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  width: 80%;
  margin: auto;
}

.aprilTournamentRules p {
  padding: 0 0 10px 0;
}

.mysticalKeyContainer {
  background-color: rgba(37, 41, 43, 1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.mysticalKeyHeader {
  background-color: rgba(44, 50, 52, 1);
  text-align: center;
  border-radius: 10px;
}

.mysticKeyListText {
  display: none;
}

.mysticalKeyHeader h4 {
  padding: 20px;
}

.mysticKeyEventListWrapper {
  padding: 15px 0;
}

.mysticKeyEventWrapper {
  padding: 0 15px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.mysticKeyEventWrapper::-webkit-scrollbar {
  width: 4px;
}

.mysticKeyEventWrapper::-webkit-scrollbar-thumb {
  background: rgba(240, 90, 34, 1);
  border-radius: 10px;
}

.mysticKeyEventWrapper::-webkit-scrollbar-track {
  background: rgba(44, 50, 52, 1);
  border-radius: 10px;
}

@media (min-width: 1550px) {
  .aprilTournamentPriceContainer {
    background-color: rgb(23, 23, 24);
    border-right: 5px solid rgba(44, 50, 52, 1);
    border-left: 5px solid rgba(44, 50, 52, 1);
    border-bottom: 5px solid rgba(44, 50, 52, 1);
  }

  .aprilTournamentPriceHeader {
    border-radius: 5px 5px 0 0;
  }

  .festivalDate {
    width: 70%;
    margin: 20px auto 20px auto;
  }

  .festivalDate h5 {
    padding: 25px;
  }

  .serviceCardWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .aprilTournamentCardWrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: rgb(23, 23, 24);
  }

  .mysticalKeyHeader {
    border-radius: 10px 10px 0 0;
  }

  .mysticKeyListText {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px 0;
  }

  .keyEventScrollWrapper {
    background-color: rgba(44, 50, 52, 1);
    border-radius: 10px;
    padding: 15px 20px;
  }

  .mysticKeyEventListWrapper {
    background-color: rgb(23, 23, 24);
    border-right: 5px solid rgba(44, 50, 52, 1);
    border-left: 5px solid rgba(44, 50, 52, 1);
    border-bottom: 5px solid rgba(44, 50, 52, 1);
    padding: 20px;
    border-radius: 10px;
  }
}
