.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 130px 15px 25px 15px;
}

.logo {
  width: 25px;
}

.auth {
  display: flex;
}

.signIn button,
.signUp button {
  color: #fff;
  font-size: 16px;
  width: 72px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.signUp button {
  margin-right: 10px;
  background-color: transparent;
}

.signIn button {
  background-color: rgba(239, 96, 42, 1);
  border-radius: 5px;
}

@media (min-width: 750px) {
  .container {
    display: none;
  }
}
