.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 130px 15px 25px 15px;
}

.logo {
  width: 25px;
}

.auth {
  display: flex;
}

.signIn,
.signUp {
  color: #fff;
  font-size: 20px;
  width: 72px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  margin-right: 10px;
}

.signIn {
  background-color: rgba(239, 96, 42, 1);
  border-radius: 5px;
}
